body {
    margin: 0px;
    font-family: 'Aclonica', sans-serif;
}

/* #################### navbar #################### */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 10px #000000 solid;
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

.navbarLeft, .navbarLeft .logo, .navbarLeft .articles {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarLeft .logo a {
    margin: 0px 10px 0px 40px;
    height: 80px;
    width: 40px;
}

.navbarLeft .logo img {
    height: 80px;
    width: 40px;
}

/* #################### main #################### */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

.divConnecion {
    display: flex;
    flex-direction: row;
    padding: 150px 0px;
}

.divConnecionLeft, .divConnecionRight {
    display: flex;
    width: 200px;
    height: 500px;
}

.divConnecionLeft {
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

.divConnecionRight {
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

/* #################### footer #################### */

footer {
    width: auto;
    height: 80px;
    background: #000000;
}