body {
    margin: 0px;
    font-family: 'Aclonica', sans-serif;
}

/* #################### navbar #################### */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 10px #000000 solid;
    background: #ffffff
}

.navbarLeft, .navbarLeft .logo, .navbarLeft .articles, .navbarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarLeft .logo img {
    margin: 0px 5px 0px 25px;
    height: 40px;
    width: 40px;
}

.navbarRight a {
    margin: 0px 40px; 
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

/* #################### main #################### */

main {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 1000px;
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

/* #################### footer #################### */

footer {
    width: auto;
    height: 80px;
    background: #000000;
}