body {
    margin: 0px;
    font-family: 'Aclonica', sans-serif;
}

/* #################### navbar #################### */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 10px #000000 solid;
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

.navbarLeft, .navbarLeft .logo, .navbarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarLeft .logo img {
    margin: 0px 10px 0px 40px;
    height: 80px;
    width: 40px;
}

.navbarLeft a, .navbarRight a {
    margin: 0px 40px; 
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

/* #################### main #################### */

main {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 1000px;
    background: linear-gradient(45deg, #EEEEEE 0%, #FFFFFF 100%);
}

.verticalNavbar{
    width: 160px;
    height: 1000px;
    opacity: 0.5;
    background: linear-gradient(45deg, #000000 0%, #3F3F3F 100%);
}